:root{
    --white: #fff;
    --ligh-blue: #ADD8E6;
    --gray: #4a4a4a;
    --yellow: #ffbb3a;
    --dark-blue: rgb(0, 4, 255);
    --bg-gray: #ddd;
    --black: black;
    --purple: purple;
    --medium-blue: #0000CD;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
html, dody{
    background-color: var(--bg-gray);
}
.navbar-brand{
    background-image: url('https://seeklogo.com/images/I/IT-logo-8670EB0250-seeklogo.com.png');
}
.Show-services{
    margin: 30px auto;
    background-color: aqua;
    height: 300px;
    width: 80%;
}
.carousel-inner img{
    height: 500px;
    object-fit: contain;
}
.carousel-inner h5,p{
    color: var(--white);
    text-shadow: -1px -1px 1px var(--black);
}
.visually-hidden{
    color: var(--medium-blue);
    text-shadow: -1px -1px 1px var(--white)
}
.carousel-inner{
    margin: 40px auto;
}
.carousel slide{
    background-color: var(--bg-gray);
}




.toggle__menu{
    display: block;
}

